* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-image: url("img/backgroundImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  box-shadow: 1px 1px 1px hsla(273, 75%, 28%, 0.274);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 1px;
  background-color: white;
  backface-visibility: hidden;
  border: 2px solid #ffd700;
  box-shadow:
    0 0 1px #ffd700,
    0 0 2px #ffd700,
    0 0 3px #ffd700;
}
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background-color: white;
  background-image:
    linear-gradient(45deg, black 25%, transparent 25%),
    linear-gradient(-45deg, black 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, black 75%),
    linear-gradient(-45deg, transparent 75%, black 75%);
  background-size: 40px 40px;
  background-position: 0 0, 0 20px, 20px -20px, -20px 0px;
  backface-visibility: hidden;
  border: 2px solid #ffd700;
  box-shadow:
    0 0 1px #ffd700,
    0 0 2px #ffd700,
    0 0 3px #ffd700;
}

.front-face {
  transform: rotateY(180deg);
}